@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'DM Sans', sans-serif;
}

.col-primary{
    background-color: #05a081;
    color: white;
}

.col-primary:hover, .col-primary:focus{
    background-color: #05a081;
    color: white;
}

.search{
    max-width: 768px
}

#cont{
    margin-top: 72px;
}

.gallery{
    margin: 30px 0;
}
select{
    max-width: 300px;
}

#images{
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    /* gap: 20px 10px; */
    column-gap: 10px;
    grid-auto-rows: minmax(10px, auto);
    justify-content: center;
}

#images .imgbox{
    position: relative;
}

#images .imgbox .topexels{
    z-index: 10;
}

#images .imgbox .topexels, #images .imgbox  .credits{
    position: absolute;
    top: 0;
    bottom: 20px;
    left: 0;
    right: 0;
}

#images .imgbox  .credits{
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    color: white;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

#images .imgbox:hover  .credits{
    opacity: 1;
}

#images .imgbox  .credits p{
    font-size: 1.6em;
    line-height: 1em;
}

#images .imgbox  .credits .tophotographer{
    color: white;
    z-index: 20;
}

#images .imgbox img{
    margin-bottom: 10px;
}

.filters{
    gap: 15px;
}
#per_page, #size, #color{
    width: 250px;
    height: 40px
}